body {
background:  linear-gradient(0deg,#212b35,#212b35),linear-gradient(180deg,#212b3c,#3c0046 66.83%)!important;
color: #f1f1f1;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.bg-dark {
    background-image: linear-gradient(0deg,#212b35,#212b35),linear-gradient(180deg,#212b3c,#3c0046 66.83%)!important;
}

li .nav-link  {
  font-size: 22px!important;
}

.navbar-brand {
  width: 5%;
  font-size: 25px;
  color: #f1f1f1!important;
}



.logo {
  width: 100%;
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: auto;
    border-radius: 5px;
}

button {
  padding: 10px 20px 10px 20px;
  border: none;
  background: blue;
}

.project_img {
    width: 100%;
}

.project {
  margin: 10px;
}




span {
    color: #00a8ff;
}


li a {
 color: #f1f1f1!important;
 text-decoration: none;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  color: rgb(255, 15, 84);
}

h2 {

}

p {
    max-width: 22em;
}

.me {
  width: 100%;
}

.home {
  padding-top: 90px;
}

.content-wrapper {
    margin: 0 auto;
    width: 80%;
    padding: 30px;
}

button {
  background: #fff!important;
  color: #000;
}

.contact {
    padding-left: 5%;
    width: 50%;
}

.languages {
 width: 50%;
 margin-left: 10%;
}

.react-logo {}

footer {
    width: 100%;
    display: inline-flex;
}


  @media only screen and (max-width: 600px) {
  h1 {
    font-size: 3em!important;
  }
}
