body {

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background: linear-gradient(0deg,#212b35,#212b35),linear-gradient(180deg,#212b3c,#3c0046 66.83%)!important;

}

.navbar-brand {
  width: 5%;
  font-size: 25px;
  color: #f1f1f1!important;
}


.logo {
  width: 100%;
}
.language {
  font-weight: 800;
  font-size: 14px;
  color: rgb(255, 15, 84);
}

li a {
 color: #f1f1f1!important;
 text-decoration: none;
}

.bg-dark {
    background-color: transparent!important;
}


.container {

}

.project_img {
    width: 100%;
}

.project {
  padding: 20px;
  background: #353b48;
  color: #eee;
  width: 100%;
  max-width: 1150px;
  margin: 10px auto;
}
